<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="color-scheme" content="dark light" />
    <meta name="theme-color" content="#0a0a0b" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TODO: Set the document title to the name of your application -->
    <title>Lovable App</title>
    <meta name="description" content="Lovable Generated Project">
    <meta name="author" content="Lovable" />

    <!-- TODO: Update og:title to match your application name -->
    
    
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://pub-bb2e103a32db4e198524a2e9ed8f35b4.r2.dev/4ecec7b1-a567-4079-aa36-139162b4a4d7/id-preview-a8ef6a06--5e3bca4a-bf81-4b80-857b-9b56f67485f3.lovable.app-1775536121891.png">

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Lovable" />
    <meta name="twitter:image" content="https://pub-bb2e103a32db4e198524a2e9ed8f35b4.r2.dev/4ecec7b1-a567-4079-aa36-139162b4a4d7/id-preview-a8ef6a06--5e3bca4a-bf81-4b80-857b-9b56f67485f3.lovable.app-1775536121891.png">
    <meta property="og:title" content="Lovable App">
  <meta name="twitter:title" content="Lovable App">
  <meta property="og:description" content="Lovable Generated Project">
  <meta name="twitter:description" content="Lovable Generated Project">
</head>

  <body>
    <div id="root"></div>
    <script type="module" src="/src/main.tsx"></script>
  </body>
</html>
